<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatrooms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chatroomsS.css') }}">
</head>
<body>
    <h3> {{ user.username }} # {{user.id}} </h3>
    <div class="centeredF">

        <div class="tabs">
            <button id="bc"> Chats </button>
            <button id="bcc"> Create Chat </button>
            <button id="bcuc"> Change User Color </button>
        </div>

        <div class="chatL" id="ChatList">
            <h3> Chats: </h3>
        {% if chats %}
            {% for chat in chats %}
            <a class="chat" href="/chat/{{ chat[0] }}">
            <div class="chatD">
                <h3> {{ chat[1] }} #{{ chat[0] }} </h3>
            </div>
            </a>
            {% endfor %}
        {% else %}
            <h3> there's no chats yet </h3>
        {% endif %}
        </div>

        <div class="create-chatForm" id="chatForm">
            <h3> Create new chat: </h3>
            <form id="form" action="/create-new-chat" method="POST">
                <input type="text" placeholder="chatname" name="chatname" autocomplete="off">
                <input type="text" placeholder="Id user" name="id_memb" autocomplete="off">
                <button type="submit"> Create chat </button>
            </form>
        </div>

        <div class="change-color" id="changeC">
            <h3> Change User Color </h3>
            <form id="form2" action="/change-user-color" method="POST">
                <input type="color" name="color" id="colorpicker">
                <label for="colorpicker"> Background Color</label>
                <input type="color" name="Lcolor" id="words">
                <label for="words">  Words color </label>
                <button type="submit"> Change </button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/changeColor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chatroom.js') }}"></script>
</body>
</html>