<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chatS.css') }}">
</head>
<body>
    
<div class="centered">
    <form id="form2" action="/add-user-to" method="POST"> 
        <input type="text" placeholder="new user's id" name="newID" autocomplete="off"> 
        <input type="hidden" value="{{ chatid }}" name="chat">
        <button type="submit"> Add new user</button> 
    </form>


        <div class="title">
    <h1 class="title"> {{ chatname }} #</h1>
    <h2 id="chatid" class="title"> {{chatid}} </h2>
    </div>
    <div id="chat-box">

    </div>
    <div class="send">
        <h4> {{user.username}} # {{user.id}} </h4>
        <input type="text" id="message">
        <button onclick="sendMessage()"> Send Message </button>
        <a href="/chatrooms"> Return to chatrooms </a>
    </div>

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/getMsg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addUser.js') }}"></script>
</body>
</html>